body {
background-color: #171e26
}


.caption{

  background-image: url('images/image01.png');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
margin: 0 0 50px 0px;
}


  .container {


  text-align: center;
  margin: 0 auto;
  width: 250px;
  display: block;
  color: #cc992c;
  }

  .container h2 {
    font: 72px/90px 'Volkorn', serif;
    text-transform: uppercase;
    letter-spacing:12px;
    font-weight:700;
    margin-bottom: 40px;
  }

  h2{
   max-width: 470px;
   margin: 170px auto 80px auto;
   text-align: center;
   color: #cc992c
  }

  .container p {
    text-align: justify;
    font: 13px/24px 'Exo', sans-serif;
    margin-bottom: 20px;
  }

  p {
    hyphens: auto;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }




  .container .moral {
    font: 40px/48px 'Volkorn', serif;
    text-align: inherit;
  }
